body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #1db954;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}
